
@import url(https://fonts.googleapis.com/css?family=Geologica
);

*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
  font-family: 'Geologica';
}

html{
  background-color:#3c6ab5;
}

h1{
  text-align:center;
}