 .DDRheader{
    text-align:center;
    justify-content:center;
 }

.page{
    background: rgb(65,84,177);
    background: radial-gradient(circle, rgba(65,84,177,1) 0%, rgba(190,60,172,1) 33%, rgba(84,80,176,1) 66%, rgba(190,60,172,1) 100%);
}

.DDRheader img{
    filter: drop-shadow(5px 5px 5px #222)
}

.card{
    background-color: #f542f5 !important;
}

.card button{
    border-radius: 4px;
    background-color: crimson;
    padding: 5px;
}