.container{
    display:grid;
    justify-self: center;
    justify-content: center;
    width: 600px;
    height: auto;
}
h2{
    justify-self: center;
}
.imageHeader{
    height: 100%;
    width: 95%;
    justify-self: center;
}