.itemBox{
display:grid;
grid-template-columns: repeat(3,1fr);
padding: 10px;
}

.filterBar{
    display:grid;
    justify-content:center;
    font-size: 15px;
    background-color:#c2bfff;
    padding:10px;
    align-items:center;
}

.filterBar input {
    width:auto;
    height: 30px;
    font-size:15px;
    text-align:center;
}

.filterBar select {
    width:auto;
    height: 30px;
    font-size:15px;
    text-align:center;
}
